*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.navbar{
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.hypercomply-image{
    height: 1.8em;
    width: 10em;
}
.bars-icon{
    font-size: 2em;
}

.container-2{
    background-image: url("./images/background.svg");
    background-color: #46594b;
    background-size: 70%;
    background-repeat: no-repeat;
    margin-top: 60px;
    background-position: center right -50%;
    padding-top: 60px;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 50px;
}

.security-review-heading{
    color: white;
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.5em;
}
.security-reviews-description{
    font-size: 1em;
    color: #ffffff;
    line-height: 1.5em;
}
.security-review-input-button-container{
    border-radius: 12px;
    height: 40px;
    width: 100%;
    display: flex;
    margin: 1em 0 1em 0 ;

}
.input-element{
    height: 40px;
    width: 70%;
    outline: none;
    border: none;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    padding-left: 1em;
    font-size: 0.85em;
}
.security-review-button{
    height: 100%;
    width: 30%;
    font-size: 0.9em;
    background-color: green;
    color: #ffffff;
    border: none;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.card-image{
    width: 100%;
    margin-bottom: 1.5em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.clients {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;    
}
.clients-description{
    font-size: 1.25em;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.vidyard-img{
    height: 4em;
    width: 6em;
}
.heap-img{
    height: 3em;
    width: 5em;
}
.alloy-img{
    height: 3em;
    width: 5em;
}
.fullstory-img{    
    height: 1.5em;
    width: 5em;
}
.salesoft-img{
    height: 2.5em;
    width: 5em;
}
.drata-img{
    height: 2.5em;
    width: 5em;
}

.container-3{
    background-color: white;
    padding-top: 4em;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.close-deals-para{
    font-size: 1em;
    font-weight: 500;
    color: #46594b;
    line-height: 1.5em;
}
.close-deals-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: 500;
    color: #46594b;
    margin-bottom: 0.5em;
    line-height: 1.25em;
}
.close-deals-container{
    text-align: center;
}
.learn-more-button{
    display: inline-block;
    height: 50px;
    width: 100%;
    font-size: 1em;
    background-color: green;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: none;
    margin-top: 1em;
    margin-bottom: 3em;
}
.horizontal-line{
    width: 100%;
    border-color: #46594b;
    margin: 1em 0 1em 0;
    opacity: 0.5;
}
.features-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    font-weight: 500;
    color: #46594b;
}
.text-opacity{
 opacity: 0.5;
}
.features-para{
    font-size: 1em;
    font-weight: 500;
    color: #46594b;
    line-height: 1.5em;
    margin-top: 0.9em;
}
.image-card-container {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("./images/background.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center bottom -30%;
    margin-bottom: 2em;
}
.card {
    height: 200px;
    width: 200px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.test-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.review-card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color:#ffffff ;
    border-radius: 0.5em;
    box-shadow: rgba(121, 121, 123, 0.2) 0px 7px 29px 0px;
    padding: 0.7em;
    margin-top: 1em;
    position: relative;
    z-index: 1;
    top:30px;
}
.review-card-para{
    font-size: 0.8em;
}
.review-card-button{
 background-color: green;
 outline: none;
 border: none;
 width: 10em;
 color:white;
 font-size: 0.8em;
 border-radius: 0.5em;
 padding: 0.4em;
}
.logo-image{
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}
.small-space{
    background-color: #dae5dd;
    width: 4em;
    height: 16px;
    border-radius: 0.4em;
    margin-bottom: 0.7em;
}
.large-space{
    background-color: #dae5dd;
    width: 7em;
    height: 16px;
    border-radius: 0.4em;  
}
.review-approve-sub-container{
    display: flex;
}
.smarch-img{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    margin-left: 1em;
}
.center{
    align-self: center;
}
.review-approve-card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    z-index: 1;
}
.review-approve-main-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 45px 0px;
    border-radius: 1em;
    margin-bottom: 2em;
}
.container-4{
    background-color: #46594b;
    padding-top: 50px;
}
.heading{
    color: white;
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}
.text-center{
    text-align: center;
}
.sliding-item-middle{
    background-color: #d1e6d6;
    text-align: center;
    border-radius: 1em;
    padding: 0.7em;
    padding-bottom: 1em;
}
.smarsh-image{
    width: 7em;
}
.sliding-text-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    font-weight: 500;
    color: #46594b;
    margin-bottom: 0.5em;
}

.sam-image{
    border-radius: 50%;
    height: 3em;
    width: 3em;
}
.designation-of-sam{
    color: #46594b;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.3em;
    text-align: left;
    margin-left: 1em;
}
.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container{
    display: grid;
    grid-template-columns: 14% 63% 15%;
    column-gap: 1em;
    margin-top: 2em;
}
.sliding-item-first{
    min-height: 300px;
    background-color: #d1e6d6;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.sliding-item-last{
    min-height: 300px;
    background-color: #d1e6d6;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 100%;
}
.get-started-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    margin-top: 1em;
}
.get-started-section-heading{
    font-size: 1.8em;
    text-align: center;
    color: #ffffff;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 500;
}
.get-started-button{
    background-color: green;
    color: white;
    outline: none;
    font-size: 1em;
    width: 8em;
    height: 3em;
    border:none;
    border-radius: 0.4em;
    font-weight: 500;
}
.footer {
    background-color: #46594b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    column-gap: 5px;
    padding-left: 2em;
    padding-bottom: 3em;
}
.footer-image-container {
    grid-column: 1 / 4;
}
.footer-logo {
    height: 30px;
    width: 40px;
    background-color: transparent;
}

.footer-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.footer-description {
    font-size: 1em;
    color: #ffffff;
    line-height: 1.5em;
    opacity: 0.7;
}
.icons {
    font-size: 1em;
    color: #ffffff;
    margin-right: 10px;
}


@media screen and  (min-width:768px){
    .navbar{
        display: none;
        gap:1em;
    }
    .container-2{
        margin-top: 0;
        padding-right: 0;
        padding-left: 3em;
        background-size: 30%;
        background-position:  center bottom 30%;

    }
    .security-reviews-and-tab-container{
        display: flex;
        align-items: center;
        gap:2em;
    }
    .security-review-heading{
        font-size: 3em;
    }
    .security-reviews-description{
        font-size: 1em;
    }
    .card-image{
        width: 55%;
        height: 50vh;
        padding-left: 0;
        margin-left: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .clients-container{
        display: flex;
        margin-top: 5em;
        padding-left: 3em;
    }
    .clients-description{
        font-size: 0.8em;
        width: 20%;
    }
    .clients{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-self: center;
    }
    .container-3{
        padding-left: 3em;
    }
    .learn-more-button{
        width: 8em;
        display: inline;
    }
    .features-image-card-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 0;
        margin-bottom: 4em;
    }
    .image-card-container{
        width: 45%;
        height: 350px;
        background-image: url("./images/background.svg");
        background-repeat: no-repeat;
        background-position: left bottom -8%;
        background-size: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 2em;

    }
    .test-img{
        height: 100%;
        width: 100%;
    }
    .features-card-container{
        display: flex;
    }
    .review-section{
        width: 70%;
        align-self: flex-start;
        margin-left: 3em;
        padding-top: 0;
        height: 500px;
    }
    .review-card{
        margin-top: 0;
        height: 60px;
        align-self: center;
    }
    .sliding-item-last{
        width: 140%;
    }
    .footer{
        display: flex;
        justify-content: space-around;
    }
}
